.container {
	padding: 5px;
}

form {
	background-color: rgba(117,233,240,0.75);
	border-radius: 10px;
	padding: 60px ;
	margin: 5%;
	width: 800px;
	margin-left: 320px;
}

h2 {
	text-align: center;
}

body {
		margin: 0;
		padding: 0;
		background-image: url(https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg);
		background-size: cover;
		font-family: courier;
}